<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API 키 입력</title>
	<link rel="stylesheet" href="/css/api_key.css">
</head>
<body>
    <div class="title">
		<h4>OpenAi API Key 입력</h4>
	</div>
	<div class="text">
    사이트 이용을 위하여 OpenAi API Key가 필요합니다!
	</div>
	<div class="input">
    	<input type="text" id="apiKeyInput" placeholder="API 키를 입력하세요.">
    	<button id="submitButton">입력</button>
	</div>
	<div class="link">
		<a href="https://mixedcode.com/blog/detail?pid=6" target="_blank" style="cursor:pointer;">OpenAi API Key 발급 방법
	</div>
	
    <script src='/js/api_key.js'>

    </script>
</body>
</html>