<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="header">
    <div class="logo">
        <img src="/img/test_logo.png" title="테스트 로고"/>
    </div>
</div>

<div id="contents">
    <div class="container">
        <div class="box">
            <div class="img_box">
                이미지 박스
            </div>
            <div class="keyword_box">
                #키워드
            </div>
            <div class="story_box">
                텍스트 들어가는 자리 <br>
                들어가는 자리
            </div>
            <div class="start_box">
                <div class="start" onclick="location.href=('https:www.naver.net')" style="cursor:pointer;">
                    시작하기
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>