<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>List Page</title>
    <link rel="stylesheet" href="css/list.css">
</head>
<body>
	<div class="header">
	    <a href="/"><img src="img/insight-logo.png" alt="로고"></a>
		<div class="insight-story">
			<p>Insight Story</p>
		</div>
	</div>
    
    <div class="index">
		<p>다양한 이야기를 경험해보세요!</p>
	</div> 
	
	<div class="background-image">
				<div class="middle-left">
					<img src="/img/middle-left.png">
				</div>
				<div class="middle-left-2">
					<img src="/img/middle-left-2.png">
				</div>
	</div>
	<div class="contents">
		<div class="left">
			<div class="up-box">
				윗 박스
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title">#소설 제목</div>
					<div class="box-keyword">
						<div class="keyword">#키워드1</div>
						<div class="keyword">#키워드2</div>
						<div class="keyword">#키워드3</div>
					</div>
				</div>
			</div>
			<div class="down-box">
				아래 박스
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title">#소설 제목</div>
					<div class="box-keyword">
						<div class="keyword">#키워드1</div>
						<div class="keyword">#키워드2</div>
						<div class="keyword">#키워드3</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mid">
			<div class="up-box">
				윗 박스
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title">#소설 제목</div>
					<div class="box-keyword">
						<div class="keyword">#키워드1</div>
						<div class="keyword">#키워드2</div>
						<div class="keyword">#키워드3</div>
					</div>
				</div>
			</div>
			<div class="down-box">
				아래 박스
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title">#소설 제목</div>
					<div class="box-keyword">
						<div class="keyword">#키워드1</div>
						<div class="keyword">#키워드2</div>
						<div class="keyword">#키워드3</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="up-box">
				윗 박스
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title">#소설 제목</div>
					<div class="box-keyword">
						<div class="keyword">#키워드1</div>
						<div class="keyword">#키워드2</div>
						<div class="keyword">#키워드3</div>
					</div>
				</div>
			</div>
			<div class="down-box">
				아래 박스
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title">#소설 제목</div>
					<div class="box-keyword">
						<div class="keyword">#키워드1</div>
						<div class="keyword">#키워드2</div>
						<div class="keyword">#키워드3</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
