<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Root Page</title>
    <link rel="stylesheet" href="css/root_page.css">
</head>
<body>
	<div class="container">
		<div class="background-image">
			<div class="middle-left">
				<img src="/img/middle-left.png">
			</div>
			<div class="middle-left-2">
				<img src="/img/middle-left-2.png">
			</div>
		</div>
		<div class="contents">
			<div class="logo">
				<img src="/img/insight-logo.png" alt="로고" class="logo-img">
			</div>
			<div class="text">
				<div class="subtitle">
					<h3>생성형 AI를 이용한 Text Game</h3>
				</div>
				<div class="title">
					<h1>Insight Story</h1>
				</div>
				<div class="index">
					<p>여기다가 홈페이지 설명 및 API 입력 관련해서 적기여기다가 홈페이지 설명 및 API 입력 관련해서 적기여기다가 홈페이지 설명 및 API 입력 관련해서 적기여기다가 홈페이지 설명 및 API 입력 관련해서 적기여기다가 홈페이지 설명 및 API 입력 관련해서 적기여기다가 홈페이지 설명 및 API 입력 관련해서 적기</p>
				</div>
				<div class="apikey">
					<div id="errorMessage" class="errorMessage" style="display: block;"></div>
					<div class="input-container">
						<label for="apiKeyInput"></label>
						<input type="text" id="apiKeyInput" name="apiKeyInput" pattern=".{56}" required placeholder="API를 입력하세요.">
					</div>
					<button onclick="api_key_register(document.getElementById('apiKeyInput').value)">API 키 등록</button>
				</div>
			</div>
		</div>
	</div>
	<script src='/js/api_key.js'></script>
</body>
</html>
