<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Root Page</title>
    <link rel="stylesheet" href="css/root_page.css">
</head>
<body>
	<div class="container">
		<div class="background-image">

		</div>
		<div class="contents">
			<div class="logo">
				<img src="/img/insight-logo.png" alt="로고" class="logo-img">
			</div>
			<div class="text">
				<div class="subtitle">
					<h3>생성형 AI를 이용한 Text Game</h3>
				</div>
				<div class="title">
					<h1>Insight Story</h1>
				</div>
				<div class="index">
					<p>
						이 홈페이지는 GPT 3.5 turbo를 기반으로 텍스트 게임을 수행합니다. <br>
						게임을 플레이하기 위해서는 GPT API 키 입력이 필요합니다.<br>
						다양한 스토리로 특별한 경험을 즐겨보세요.
					</p>
				</div>
				<div class="apikey">
					<p><a href="https://velog.io/@bong02/OpenAI-API-KEY-%EB%B0%9C%EA%B8%89-%EB%B0%A9%EB%B2%95" style="color: antiquewhite;">GPT API 키 발급 방법</a></p>	
					<div id="errorMessage" class="errorMessage" style="display: block;"></div>
					<div class="input-container">
						<label for="apiKeyInput"></label>
						<input type="text" id="apiKeyInput" name="apiKeyInput" pattern=".{56}" required placeholder="API를 입력하세요.">
					</div>
					<button onclick="api_key_register(document.getElementById('apiKeyInput').value)">API 키 등록</button>
					
				</div>
			</div>
		</div>
	</div>
	<script src='/js/api_key.js'></script>
</body>
</html>
