<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Content page</title>
</head>
<body>
<div class="navbar">
    <div class="navbar-logo">
        <img src="insight-logo.png" alt="로고">
        <p>Insight story</p>
    </div>
</div>
<div class="container">
    <div class="main">
        <div class="chat-container">
            <div class="chat">
                <!--
                <div class="my-chat-bubble">
                    <p>Hello!</p>
                </div>
                <div class="story">
                </div>
                <div class="chat-bubbles">
                </div>
                <div class = "chat-bubble">
                </div>
                <div class="my-chat-bubble">
                    <p>How was your day?</p>
                </div>
                -->
            </div>
        </div>
        <div class="options">
            <button id='option1'></button>
            <button id='option2'></button>
            <button id='option3'></button>
        </div>
    </div>
    <div class="history">
        <div class="info-box">
            <p>history1</p>
        </div>
        <div class="info-box">
            <p>history2</p>
        </div>
        <div class="info-box">
            <p>history3</p>
        </div>
        <div class="info-box">
            <p>history4</p>
        </div>
        <div class="info-box">
            <p>history5</p>
        </div>
        <div class="info-box">
            <p>history6</p>
        </div>
        <div class="info-box">
            <p>history7</p>
        </div>
        <div class="info-box">
            <p>history8</p>
        </div>
    </div>
</div>
</div>
<script>
    const chat_div = document.querySelector('.chat');
    const buttons = document.querySelectorAll('button');

    window.onload = function() {

        // fetch('/api/story')
        fetch('/api/story')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            add_story(data['story']);
            add_dialogue(data['dialogue']);
            add_option(data['choice1'], data['choice2'], data['choice3']);
        })
        .catch(error => console.error('Error:', error));

        var historyContainer = document.querySelector('.history');
        historyContainer.scrollTop = historyContainer.scrollHeight;
    };

    function insertText(text) {
        var newChatBubble = document.createElement('div');
        newChatBubble.classList.add('my-chat-bubble');
        newChatBubble.innerHTML = `<p>${text}</p>`;
        chat_div.appendChild(newChatBubble);
    }

    function add_story(story) {
        const story_container = document.createElement('div');
        story_container.classList.add('story');
        story_container.textContent = story;
        chat_div.appendChild(story_container);
    }

    function add_dialogue(dialogue){
        dialogue.forEach(item =>{
            const dialogue_container = document.createElement('div');
            dialogue_container.classList.add('chat-bubble')
            dialogue_container.textContent = item.name + ": " + item.content;
            chat_div.appendChild(dialogue_container);
        })
    }

    function add_option(choice1, choice2, choice3){
        const option1 = document.getElementById('option1');
        const option2 = document.getElementById('option2');
        const option3 = document.getElementById('option3');
        
        option1.textContent = choice1;
        option2.textContent = choice2;
        option3.textContent = choice3;
    }

    document.addEventListener('DOMContentLoaded', function() {
        buttons.forEach(button => {
            button.addEventListener('click', function() {
                const buttonId = this.id;
                const click_button = document.getElementById(buttonId);
                const my_select_option = document.createElement('div');
                my_select_option.classList.add('my-chat-bubble');
                my_select_option.textContent = click_button.textContent;
                chat_div.appendChild(my_select_option);
    
                fetch('/select_choice', {
                    method: 'POST',
                    body: JSON.stringify({
                        choice: this.textContent
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('POST 요청 성공:', data);
                })
                .catch(error => {
                    console.error('에러 발생:', error);
                });
            });
        });
    });
    
</script>
</body>
</html>