body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#FEFEFF;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 100px;
    background-color:white;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    max-width: 12%;
}

.navbar-logo p {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 0 0 5px;
}

.container {
    display: flex;
    height: 90vh;
    padding: 0 100px;
    background-color: white;
}

.history {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    
     box-sizing: border-box;
	            
	background: #FDFDFF;
	border: 1px solid #E1E2FF;
	border-radius: 20px;
	
	margin-left: 30px;
}

.history::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.history::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #EFEFEF; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.info-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background-color:lavender;
    text-align: center;
}

.main {
    flex: 2;
    display: flex;
    flex-direction: column;

}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat {
    flex: 1;
    overflow-y: auto;
    box-sizing: border-box;
    background: url('/background_image.png') center center / cover no-repeat fixed;
    border: 1px solid #E1E2FF;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.chat::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    opacity: 0.5; /* 배경 이미지의 투명도 설정 */
    z-index: -1;
    border-radius: 20px;
}

.chat::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.chat::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #EFEFEF; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.chat-bubbles {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 대화 사이의 간격 */
}

.chat-bubble {
    background-color: cornflowerblue;
    color: #fff;
    max-width: 35%;
    padding: 8px;
    margin: 10px;
    border-radius: 10px 10px 10px 0px;
}

.chat-bubble span:first-child {
    font-weight: bold;
    margin-right: 5px;
}

.my-chat-bubble {
    background-color: lavender;
    max-width: 40%;
    padding: 8px;
    margin: 10px;
    border-radius: 10px 10px 0 10px;
    margin-left: 60%;
}

.story {
    background-color:white;
    color: #000;
    max-width: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    word-wrap: break-word;
}

.options {
    display: flex;
    margin: 10px;
}

.options button {
    margin-bottom: 5px;
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    width: 33%;
    margin: 5px;
}

.options button:hover {
    background-color: #0056b3;
}